* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 10px;
}

nav {
    height: 10%;
    width: 100%;
}

.navLeft {
    height: 100%;
    width: 20%;
    background-color: yellow;
    float: left;
}

.navRight {
    height: 100%;
    width: calc(80% - 10px);
    margin: 0 0 0 10px;
    background-color: orange;
    float: left;
}

header {
    height: 10%;
    width: 100%;
    padding: 10px 0 0 0;
}

.headerMain {
    height: 100%;
    width: 100%;
    background-color: deeppink;
}

.middle {
    height: 50%;
    width: 100%;
    padding: 10px 0;
}

.middleMain {
    height: 100%;
    width: 100%;
    background-color: deepskyblue;
}

.grid {
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.oneMain {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.gridOne {
    border-top: 2px solid grey;
}

.gridLast {
    border-bottom: 2px solid grey;
}

.one {
    background-color: deepskyblue;
}

footer {
    height: 10%;
    width: 100%;
    padding: 10px 0;
}

.footerMain {
    height: 100%;
    width: 100%;
    background-color: aqua;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .grid {
        width: 100%;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 10px;
    }

    nav {
        height: 20%;
        width: 100%;
        margin: 0 0 10px 0;
    }

    .navLeft {
        height: 50%;
        width: 100%;
        background-color: yellow;
    }

    .navRight {
        height: 50%;
        width: 100%;
        margin: 10px 0 0 0;
        background-color: orange;
        float: left;
    }


}

/* for tablets*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .middle {
        height: 40%;
        width: 100%;
        padding: 10px 0;
    }
}

/*for laptop and desktops*/

@media only screen and (min-width : 1224px) {}
